.goBackBtn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #fd5050;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    border-radius: 12px;
    margin: 16px 0;
    transition: background-color 250ms;
}

.goBackBtn:hover,
.goBackBtn:focus {
    background-color: #fe6c6c;
}

.detailsWrapper {
    display: flex;
    gap: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f7f6f147;
}

.poster {
    border-radius: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}